* {
  font-family: helvetica;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 375px;
}

body {
  background: repeating-linear-gradient(-45deg, #4a4358, #4a4358 5.5px, #534b62 5.5px, #534b62 27.5px);
}

.nav__header {
  background-color: #e5d9e7;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #e5d9e7;
  text-align: right;
  box-shadow: 0 0 100px #707070;
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .nav__header {
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .nav__header {
    text-align: center;
  }
}

.nav__header > a {
  text-decoration: none;
  color: #534b62;
  margin: 2vw;
}

@media only screen and (min-width: 1201px) {
  .home-section {
    min-height: 700px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .home-section {
    min-height: 700px;
  }
}

.home-section__header-text {
  padding-top: 40px;
  color: #e5d9e7;
  margin: 10% 0% 2% 15%;
  font-size: 32px;
}
@media only screen and (max-width: 576px) {
  .home-section__header-text {
    margin: 10% 0% 3% 0%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home-section__header-text {
    margin: 10% 0% 3% 0%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .home-section__header-text {
    margin: 10% 0% 2% 15%;
  }
}

.home-section__div-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 15% 10% 15%;
  padding-right: 30px;
}
@media only screen and (max-width: 576px) {
  .home-section__div-wrap {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home-section__div-wrap {
    flex-wrap: wrap;
  }
}

.home-section__intro-para {
  margin: 5% 0% 5% 5%;
  max-height: 300px;
  min-width: 223px;
  color: #e5d9e7;
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  .home-section__intro-para {
    margin: 5% 0% 0% 0%;
    max-width: 300px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home-section__intro-para {
    margin: 5% 0% 0% 0%;
    max-width: 300px;
  }
}

.home-section__div-wrap > img {
  border: 2px solid #e5d9e7;
}

.skills-section {
  color: #e5d9e7;
}

.skill-section__container {
  display: flex;
  justify-content: center;
}

.skills-section > h1 {
  padding: 10px;
  padding-top: 40px;
  margin: 0px;
  text-align: center;
  font-size: 32px;
}

.skills-section-list__div-1 {
  padding: 0px 10px 0px 10px;
  min-width: 240px;
  margin-bottom: 200px;
  max-width: 260px;
}
@media only screen and (max-width: 576px) {
  .skills-section-list__div-1 {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .skills-section-list__div-1 {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .skills-section-list__div-1 {
    margin-bottom: 100px;
  }
}

.skills-section-list__div-2 {
  padding: 0px 10px 0px 10px;
  min-width: 240px;
  max-width: 260px;
}

.skills-section__list-1 {
  padding-right: 10px;
  text-align: right;
  max-width: 240px;
}

.skills-section__list-2 {
  padding-left: 10px;
  max-width: 240px;
}

.skills-section__list-1 > ul {
  display: flex;
  justify-content: right;
  margin: 5px;
  align-items: center;
  font-size: 28px;
}

.skills-section__list-2 > ul {
  display: flex;
  justify-content: left;
  margin: 5px;
  padding-left: 0;
  align-items: center;
  font-size: 28px;
}

.list-1__icons {
  min-width: 25px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.list-2__icons {
  min-width: 25px;
  margin-right: 10px;
  display: flex;
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5d9e7;
  flex-wrap: wrap;
  flex-direction: row;
}
@media only screen and (max-width: 576px) {
  .project-section {
    margin: 0%;
    max-width: 800px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .project-section {
    margin: 0%;
    max-width: 800px;
  }
}

.project-section__header-text {
  padding: 20px 10px 10px 10px;
  padding-top: 40px;
  margin: 0px;
  text-align: center;
  color: #e5d9e7;
  font-size: 32px;
}

.project-section__project {
  padding: 20px;
  flex: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-section__project i {
  margin: 3px;
}

.contact-section__header-text {
  padding: 200px 10px 10px 10px;
  margin: 0px;
  text-align: center;
  color: #e5d9e7;
  font-size: 32px;
}

.contact-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
@media only screen and (max-width: 576px) {
  .contact-section {
    flex-wrap: wrap;
  }
}

.contact-section__contact {
  display: flex;
  align-items: center;
  color: #e5d9e7;
  margin: 10px 10px 50px 10px;
}
@media only screen and (max-width: 576px) {
  .contact-section__contact {
    margin-bottom: 0px;
  }
}

.contact__icons {
  margin: 5px;
}

a {
  all: unset;
}

a:hover {
  text-decoration: underline;
}
