//Breakpoints used to define screen sizes
@use "breakpoints";
//Mixins used to specify how big each screen size is
@use "mixins.scss";
//Themese used to store theme/colour related variables
@import "themes";

* {
    //Font of entire site
    font-family: helvetica;
    margin: 0;
}

html {
    scroll-behavior: smooth; //"animates" the scroll
    min-width: 375px;
}

body {
    //background making stripe pattern
    background: repeating-linear-gradient(
        -45deg,
        #4a4358,
        #4a4358 5.5px,
        #534b62 5.5px,
        #534b62 27.5px
    );
}

.nav__header {
    background-color: $pale-purple;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid $pale-purple;
    text-align: right;
    box-shadow: 0 0 100px #707070; //Adds light grey shadow underneath nav
    @include mixins.phone {
        text-align: center; //Centers text when pixels reaches phone limit
    }
    @include mixins.tablet {
        text-align: center; //Centers text when pixels reaches tablet limit
    }
    position: fixed; //fixes nav bar to top of screen when scrolling
    top: 0;
    width: 100%;
}

.nav__header > a {
    //Removes underline and link styling from nav text
    text-decoration: none;
    color: $english-violet;
    margin: 2vw;
}

//home section
.home-section {
    @include mixins.desktop {
        min-height: 700px;
    }
    @include mixins.laptop {
        min-height: 700px;
    }
}

.home-section__header-text {
    padding-top: 40px;
    color: $pale-purple;
    margin: 10% 0% 2% 15%;
    font-size: $main-header-size;
    //mixins used to align text to center, instead of above photo, once pixel paramter is reached
    @include mixins.phone {
        margin: 10% 0% 3% 0%;
        display: flex;
        justify-content: center;
    }
    @include mixins.tablet {
        margin: 10% 0% 3% 0%;
        display: flex;
        justify-content: center;
    }
    @include mixins.tablet-landscape {
        margin: 10% 0% 2% 15%;
    }
}
.home-section__div-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 15% 10% 15%;
    padding-right: 30px;
    //wraps paragraph underneath photo when window/width is compressed
    @include mixins.phone {
        flex-wrap: wrap;
    }
    @include mixins.tablet {
        flex-wrap: wrap;
    }
}

.home-section__intro-para {
    margin: 5% 0% 5% 5%;
    max-height: 300px;
    min-width: 223px;
    color: $pale-purple;
    font-size: 20px;
    @include mixins.phone {
        margin: 5% 0% 0% 0%;
        max-width: 300px;
    }
    @include mixins.tablet {
        margin: 5% 0% 0% 0%;
        max-width: 300px;
    }
}

.home-section__div-wrap > img {
    border: 2px solid $pale-purple;
}

//skill section
.skills-section {
    color: $pale-purple;
}

.skill-section__container {
    display: flex;
    justify-content: center;
}

.skills-section > h1 {
    padding: 10px;
    padding-top: 40px;
    margin: 0px;
    text-align: center;
    font-size: $main-header-size;
}

.skills-section-list__div-1 {
    padding: 0px 10px 0px 10px;
    min-width: 240px;
    margin-bottom: 200px; //used to create gap between skill and project section
    max-width: 260px;
    //used to change gap between skill and project section
    @include mixins.phone {
        margin-bottom: 100px;
    }
    @include mixins.tablet {
        margin-bottom: 100px;
    }
    @include mixins.tablet-landscape {
        margin-bottom: 100px;
    }
}
.skills-section-list__div-2 {
    padding: 0px 10px 0px 10px;
    min-width: 240px;
    max-width: 260px;
}
.skills-section__list-1 {
    padding-right: 10px;
    text-align: right;
    max-width: 240px;
}
.skills-section__list-2 {
    padding-left: 10px;
    max-width: 240px;
}
.skills-section__list-1 > ul {
    //alligns text to right of container
    display: flex;
    justify-content: right;
    margin: 5px;
    align-items: center;
    font-size: $list-text;
}
.skills-section__list-2 > ul {
    //alligns text to left of container
    display: flex;
    justify-content: left;
    margin: 5px;
    padding-left: 0;
    align-items: center;
    font-size: $list-text;
}

.list-1__icons {
    //creates gap between text and icons
    min-width: 25px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.list-2__icons {
    //creates gap between text and icons
    min-width: 25px;
    margin-right: 10px;
    display: flex;
}

//project section

.project-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $pale-purple;
    flex-wrap: wrap;
    flex-direction: row; //wraps images from 3 columns downward when space is compressed

    @include mixins.phone {
        margin: 0%;
        max-width: 800px;
    }
    @include mixins.tablet {
        margin: 0%;
        max-width: 800px;
    }
}

.project-section__header-text {
    padding: 20px 10px 10px 10px;
    padding-top: 40px;
    margin: 0px;
    text-align: center;
    color: $pale-purple;
    font-size: $main-header-size;
}

.project-section__project {
    padding: 20px;
    flex: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
        margin: 3px; //creates gap between icons and elements
    }
}

//contact section
.contact-section__header-text {
    padding: 200px 10px 10px 10px;
    margin: 0px;
    text-align: center;
    color: $pale-purple;
    font-size: $main-header-size;
}

.contact-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    @include mixins.phone {
        flex-wrap: wrap; //wraps list when width is compressed
    }
}

.contact-section__contact {
    display: flex;
    align-items: center;
    color: $pale-purple;
    margin: 10px 10px 50px 10px;
    @include mixins.phone {
        margin-bottom: 0px;
    }
}

.contact__icons {
    margin: 5px; //adds space between contact icons and text
}

a {
    all: unset; //removes link styling
}

a:hover {
    text-decoration: underline; //underlines links when hovered
}
